<h1><a href="/">Webster's Revised Unabridged Dictionary (1913)</a></h1>

<p>
This is an online version of Webster's Revised Unabridged Dictionary from 1913.
</p>

<p>
This little web-service was inspired by the very interesting blog post <a
href="https://jsomers.net/blog/dictionary">"You’re probably using the wrong
dictionary"</a> by James Somers. I suggest you read it!
</p>

<form action="/random">
    <button type="submit">Random word</button>
</form>

<form action="/search">
    <input name="q" placeholder="word you want to lookup"></input>
    <button type="submit">Search</button>
</form>

<p>
If you like coding, the source code is available <a
href="https://gitlab.com/carlbordum/webster1913">here</a>.
</p>
