<h1><a href="/">Webster's Revised Unabridged Dictionary (1913)</a></h1>

<form action="/search">
    <input name="q" placeholder="word you want to lookup"></input>
    <button type="submit">Search</button>
</form>

{% if not results %}
<p>No results for {{ word }}</p>
{% else %}

{% for word, slug in results %}
<a href="/w/{{slug}}">{{ word }}</a>
<br>
{% endfor %}

{% endif %}
