<h1><a href="/">Webster's Revised Unabridged Dictionary (1913)</a></h1>

<form action="/search">
    <input name="q" placeholder="word you want to lookup"></input>
    <button type="submit">Search</button>
</form>

<h3 style="color: #cc0000;">{{ word }}</h3>

<pre>
{{ meaning }}
</pre>

<p><b>Other words</b>:
{% for nearby_word, slug in nearby %}
  {% if nearby_word == word %}
  <b>{{ word }}</b>
  {% else %}
  <a href="{{ slug }}">{{ nearby_word }}</a>
  {% endif %}
{% endfor %}
</p>
